<?xml version="1.0" encoding="UTF-8"?>

<Configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<Appender> 
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p: %c - %m%n" />
		</Console>
	</Appender>
	
	<!-- Logger -->
	<Loggers>
		<Logger name="org.springframework" level="DEBUG" additivity="false">
			<appender-ref ref="console" />
		</Logger>
	</Loggers>
	
</Configuration>
